.title {
    color: red;
    font-size: 40px;
    font-weight: bolder;
    
}
body {
    background-image: url(https://images.unsplash.com/photo-1504674900247-0877df9cc836?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80);
background-size: cover;
}
p {
    color: red;
    font-size: 20px;

}